body {
  background: rgba(54, 0, 51, 1);
  background: -moz-linear-gradient(left, rgba(54, 0, 51, 1) 9%, rgba(54, 0, 51, 1) 17%, rgba(11, 136, 147, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(9%, rgba(54, 0, 51, 1)), color-stop(17%, rgba(54, 0, 51, 1)), color-stop(100%, rgba(11, 136, 147, 1)));
  background: -webkit-linear-gradient(left, rgba(54, 0, 51, 1) 9%, rgba(54, 0, 51, 1) 17%, rgba(11, 136, 147, 1) 100%);
  background: -o-linear-gradient(left, rgba(54, 0, 51, 1) 9%, rgba(54, 0, 51, 1) 17%, rgba(11, 136, 147, 1) 100%);
  background: -ms-linear-gradient(left, rgba(54, 0, 51, 1) 9%, rgba(54, 0, 51, 1) 17%, rgba(11, 136, 147, 1) 100%);
  background: linear-gradient(to right, rgba(54, 0, 51, 1) 9%, rgba(54, 0, 51, 1) 17%, rgba(11, 136, 147, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#360033', endColorstr='#0b8893', GradientType=1);
}

.jumbotron p {
  color: white;
  text-align: center;
  font-size: 55px;
}

.jumbotron ul {
  margin: auto;
  text-align: center;
  object-fit: scale-down;
  color: Purple;
}

.jumbotron h1 {
  text-align: center;
  color: white;
  border-bottom: 6px dotted white;
}

.jumbotron button {
  color: white;
  background-color: #000000;
  border: dotted;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  float: inherit;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {box-sizing:border-box}

.images2 {
  color: Black;
  height: auto;
  width: auto;
  border-radius: 8px;

}
